main {
    margin-top: 2rem;
}

.nav-months {
    list-style-type: none;
    width: 100%;
    display: flex;
    border: 1px solid black;
}

.nav-months li {
    background: lightgray;
    padding: 1rem 1rem;
    cursor: pointer;
}

.nav-months li:hover {
    background: gray;
    cursor: pointer;
}

form div:nth-child(3) div {
    display: flex;
    color: gray;
    border: 1px solid #ced4da;
    padding: 0.2rem;
    border-radius: 5px;
}

form div:nth-child(3) div span {
    padding-top: 0.1rem;
    position: absolute;
}

form div:nth-child(3) div input {
    padding: 0.1rem 1.5rem;
    border: none;
    color: gray;
}

form div:nth-child(3) div input:focus {
    color: gray;
}

.danger {
    color: rgba(255, 0, 0, 0.719);
}

.edit {
    color: rgb(255, 166, 0);
}

.danger, .edit {
    cursor: pointer;
}

.success-fade {
    color: rgb(126, 228, 126);
    cursor: pointer;
}

.success {
    color: rgb(0, 156, 0);
    cursor: pointer;
}